@use './../../../styles/variables' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.outlined {
  border: 2px solid white;
  color: white;
  background-color: transparent;
}

.outlined:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.filled {
  background-color: $color-primary; /* couleur turquoise */
  color: #0f172a; /* presque noir */
  border: none;
}

.filled:hover {
  background-color: $color-primary-dark;
}

.arrow {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.black{
  color:#0f172a;
  border-color: #0f172a;
}
