.bandeauLien{
    padding: 0;
    top: -2em;
}

.bandeauBack{
    top: 28px;
}

.bandeauFront{

}

.beandeauParent{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

@media screen and (max-width: 768px) {
    .bandeauLien {
        top: -5em;
        padding: 2rem 0;
    }

    .bandeauBack {
        top: 40px;
    }

    .bandeauFront {
        top: 0;
        gap: 1rem;
    }

    .beandeauParent{
        align-items: center;
    }
}
