.buttonSliderOffre{
    display: flex;
    justify-content: end;
    margin-top: -4em;
}

.sliderArrowLeft{
    position: relative;
    left: 1em;
}

@media screen and (max-width: 768px) {
    .buttonSliderOffre{
        margin-top: 0;
        justify-content: center;
    }
}