
.buttonSection{
    bottom: 19em;
}

    .SliderInfo{
        top: 12em;
    }

@media screen and (max-width: 1550px) {
    .buttonSection{
        bottom: 21em;
    }

    .SliderInfo{
        top: 8em;
    }
}

@media screen and (max-width: 1400px) {
    .buttonSection{
        bottom: 22em;
    }

    .SliderInfo{
        top: 8em;
    }
}

@media screen and (max-width: 1100px) {
    .buttonSection{
        bottom: 24em;
    }

    .SliderInfo{
        top: 8em;
    }
}



@media screen and (max-width: 1000px) {
    .buttonSection{
        bottom: 2em;
    }

    .SliderInfo{
        top: 8em;
    }
}