
.buttonSection{
    bottom: 19em;
}

    .SliderInfo{
        top: 12em;
        width: 60vw;
    }

    .mainSectionSlider{
        height: 1000px;;
    }

@media screen and (max-width: 1550px) {
    .buttonSection{
        bottom: 21em;
    }

    .SliderInfo{
        top: 8em;
    }
}

@media screen and (max-width: 1400px) {
    .buttonSection{
        bottom: 24em;
    }

    .SliderInfo{
        top: 8em;
        width: 80vw;
    }
}

@media screen and (max-width: 1100px) {
    .buttonSection{
        bottom: 26em;
    }

    .SliderInfo{
        top: 8em;
        width: 80vw;
    }
}



@media screen and (max-width: 1000px) {
    .buttonSection{
        bottom: 2em;
    }

    .SliderInfo{
        top: 8em;
        width: 80vw;
    }

        .mainSectionSlider{
        height: 100vh;
    }
}