.containerImg{
      width: 100vw;
    display: flex;
}

.grid{
      display: grid;
    grid-template-columns: repeat(3, auto); /* 3 colonnes pour la 2e ligne */
    grid-template-rows: auto auto;
    gap: 20px;
    justify-items: center;
}

.grid .small {
  grid-column: 1 / 2;
  grid-row: 1;
}

.grid .large {
  grid-column: 2 / 4; /* occupe deux colonnes */
  grid-row: 1;
}

.grid .item:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}

.grid .item:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.grid .item:nth-child(5) {
  grid-column: 3;
  grid-row: 2;
}

/* Pour visualiser */
.item {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  top: 5em;
}

.grayBackground{
  top: 19em;
}


.buttonOffre{
  align-items: end;
  z-index: 2;
}

.button{
  z-index: 2;
}