
.containerImg {
  width: 100%;
}



/* Pour visualiser */
.item {
  border-radius: 20px;
}

.grayBackground{
  top: 19em;
}


.buttonOffre{
  align-items: end;
  z-index: 2;
}

.button{
  z-index: 2;
}