.mainPage {
    margin-top: 8em;
}


.mw92{
  max-width: 92%;
}

.w92{
  width: 92%;
}


@media (max-width: 768px) {
    .formMobile{
      display: flex !important;
      flex-direction: column;
    }
  }
